/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Background */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #8fd3f4, #84fab0);
}

/* Card */
.card {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Title */
.card h2 {
    margin-bottom: 20px;
}

/* Inputs */
.card input,
.card select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

/* Button */
.card button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.card button:hover {
    background: #0056b3;
}

/* Link text */
.card p {
    margin-top: 12px;
    font-size: 14px;
}

.card a {
    color: #007bff;
    text-decoration: none;
}

/* shopkeeper dashboard */

